@inject IRequestService AppRequestService

<h1>Hello, world!</h1>

<EditForm Model="@viewModel" OnValidSubmit="HandleSubmit">
    <InputText @bind-Value=viewModel.Ethnicity >

    </InputText>
     <button aria-label="submit" class="btn btn-blue" type="submit">                       
                       submit                      
     </button>
</EditForm>


@if(TotalAgeCount > 0 )
{
    <div>
        <h4>Total numbers of Admitted Patients by Ethincity </h4>
        <span>
            <h2>
                @TotalAgeCount
            </h2>
        </span>
    </div>
}
else
{
    <div><h3> @TotalAgeCount </h3></div>
}


@code{
    EthincityViewModel viewModel = new();
    //  List<AgeModel> listOfAge = new();
    int TotalAgeCount = 0;


    async Task HandleSubmit()
    {
        TotalAgeCount = 0; 
        var result = await AppRequestService.GetAdmissionByEthinicity(viewModel.Ethnicity);
        TotalAgeCount = result;

    }  

}